* {
    box-sizing: border-box;
}

/* body {
    padding: 30px;
} */

/* transition - дозволяє визначати перехідний стан між двома станами елемента
В прикладі що нижче ми маємо зміну кольору при hover, ця зміна кольору відбувається миттєво, щоб зробити плавну зміну кольору треба використати transition
*/
/* час можна задавати як s - секунда або ms - мілісекунда */

/* transition може приймати кілька параметрів */

/* 1. transition: background-color 2s;  - де перше це назва параметру що змінюється, друге це час в секундах за яки відбувається перехід */
/* 2. transition: background-color 2s 0.5s; - де перше це назва парам що змінюється, друге це час в сек за який відбувається зміна, третій це час відкладки, тобто транзішн почне змінюватись коли ховер провисить на елементі 0,5сек */
/* 3. transition: background-color 2s linear 0.5s;  - де перше це назва парам що змінюється, друге це час за який змінюється, третє це яким чином змінюється однаково, ривками, ривками з різним часом тощо, четверте це час відкладки коли почнеться транзішн*/

/*.btn {
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: darkgreen;
    transition: background-color 2s, box-shadow 2s;
}

.btn:hover {
    background-color: lightgreen;
    box-shadow: 0 0 10px grey;
}
*/

body {
    background-color: black;
}


header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-size: 30px;
}

.bg {
    background-image: url('https://images.pexels.com/photos/631477/pexels-photo-631477.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    filter: blur(5px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

h1,
.bg {
    transition: filter 0.5s ease-in;
}

header:hover .bg {
    filter: blur(0);
}

header:hover h1 {
    filter: blur(2px);
}
